<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmp663F410B585D24992388443D6F899E37" Guid="*">
                <File Id="fil246E6FB2146BC34A678A4D5B434DA43B" KeyPath="yes" Source="$(var.AppProjectDir)\FluentCommandLineParser.dll" />
            </Component>
            <Component Id="cmp65F6184094EEC13E20F3DE0FB51170BD" Guid="*">
                <File Id="filBAEE4680126DFF90403F86A46798E00A" KeyPath="yes" Source="$(var.AppProjectDir)\FluentCommandLineParser.pdb" />
            </Component>
            <Component Id="cmp9C10E065CAA211E29C3F463220F708D7" Guid="*">
                <File Id="filFE45DA496FF381061AD163DB4EA19DB5" KeyPath="yes" Source="$(var.AppProjectDir)\IFix.exe" />
            </Component>
            <Component Id="cmp9721F1F9E58B3B5A13113D4FFDDC760A" Guid="*">
                <File Id="fil3E76BCDD24ACB778409414C183979E5D" KeyPath="yes" Source="$(var.AppProjectDir)\IFix.exe.config" />
            </Component>
            <Component Id="cmp7CE71165D466A20880601377E14ED8A6" Guid="*">
                <File Id="fil7DB182AFBBF7184D882414B93FDCC8EE" KeyPath="yes" Source="$(var.AppProjectDir)\IFix.exe.zip" />
            </Component>
            <Component Id="cmp0B5CF81FFC431E8F8C8061D95CD90F32" Guid="*">
                <File Id="fil1919D012D9726452EC0172083991370E" KeyPath="yes" Source="$(var.AppProjectDir)\IFix.pdb" />
            </Component>
            <Directory Id="dir73CC9EE8F15EFE218AD7760E8EACCC61" Name="net451">
                <Component Id="cmp7BFF5DAA600F735AB2202836F72F9E0B" Guid="*">
                    <File Id="filB84D5C266D03F086F8CE0B78521B5ACB" KeyPath="yes" Source="$(var.AppProjectDir)\net451\FluentCommandLineParser.dll" />
                </Component>
                <Component Id="cmp030F85073E93BFAF11D81546A045C39C" Guid="*">
                    <File Id="fil39A15899FB0A25B95B1154B3B0E495FD" KeyPath="yes" Source="$(var.AppProjectDir)\net451\IFix.exe" />
                </Component>
                <Component Id="cmp988CB60A595C36FD3A964BAFF9789D11" Guid="*">
                    <File Id="filAE62724ACDF554D2E3250C7B0ACB049C" KeyPath="yes" Source="$(var.AppProjectDir)\net451\IFix.exe.config" />
                </Component>
                <Component Id="cmpA64D6F784AF6A708B7AEE7CDFAC5E59D" Guid="*">
                    <File Id="filC84C946E55E38262115D06415D38417A" KeyPath="yes" Source="$(var.AppProjectDir)\net451\IFix.pdb" />
                </Component>
            </Directory>
            <Directory Id="dir992775D584242DBE7C088CEF965075B2" Name="net48">
                <Component Id="cmp375D655093C56F7107D886DCA15E3E9C" Guid="*">
                    <File Id="fil3166C2B00352997F6AD491A0689AD8A0" KeyPath="yes" Source="$(var.AppProjectDir)\net48\FluentCommandLineParser.dll" />
                </Component>
                <Component Id="cmpA55D09A94064AD49E51E58EB45C6B4CC" Guid="*">
                    <File Id="fil853E6C64806EDC888577BB6F9931B66F" KeyPath="yes" Source="$(var.AppProjectDir)\net48\IFix.exe" />
                </Component>
                <Component Id="cmp2C072381B841A326B60B46C452CE1A34" Guid="*">
                    <File Id="fil8AA0B0B920842C8ED6000B0728245E67" KeyPath="yes" Source="$(var.AppProjectDir)\net48\IFix.exe.config" />
                </Component>
                <Component Id="cmp759E3608DFC25556A42E885036A5F2F7" Guid="*">
                    <File Id="filD6912FB8419F3F8BD4D13572569CE6AB" KeyPath="yes" Source="$(var.AppProjectDir)\net48\IFix.pdb" />
                </Component>
                <Directory Id="dirDE2BB180E4E534479C16462AA60EF961" Name="publish">
                    <Component Id="cmpA546F46AF7683A093EF4E2D51F6B70FA" Guid="*">
                        <File Id="fil3E7D622D9719F9093DD240743C5BEF25" KeyPath="yes" Source="$(var.AppProjectDir)\net48\publish\FluentCommandLineParser.dll" />
                    </Component>
                    <Component Id="cmp7D94AB709ACB69D24177275DD59D6FC7" Guid="*">
                        <File Id="filA5477C2C2DCE9955B81DA84127C24D91" KeyPath="yes" Source="$(var.AppProjectDir)\net48\publish\IFix.exe" />
                    </Component>
                    <Component Id="cmp82819C9C24ABA27C27F0F9054EB520D8" Guid="*">
                        <File Id="fil5FC96769CDFDBDA7DC0D0FABEFFF98CD" KeyPath="yes" Source="$(var.AppProjectDir)\net48\publish\IFix.exe.config" />
                    </Component>
                    <Component Id="cmpD98F54D3DC2A0AA18A7614E4F7D374BD" Guid="*">
                        <File Id="fil0F1ABDB966A3140A215CE462B63AF38C" KeyPath="yes" Source="$(var.AppProjectDir)\net48\publish\IFix.pdb" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dirFCB0CC680F9C6BF483CD52B74A1A8FFD" Name="net5.0">
                <Component Id="cmpD5F3C5876885160CAD01EAA2026FE0E9" Guid="*">
                    <File Id="fil4E940E92EB8F23F210AE4BB8E25E5E5F" KeyPath="yes" Source="$(var.AppProjectDir)\net5.0\FluentCommandLineParser.dll" />
                </Component>
                <Component Id="cmpC34703C0966CC0479D1243B1FA19E9DD" Guid="*">
                    <File Id="fil2B915784DBB5CB320646C261B7EAD374" KeyPath="yes" Source="$(var.AppProjectDir)\net5.0\IFix.deps.json" />
                </Component>
                <Component Id="cmp47A92E4B389117E890EE5E8221D2DC47" Guid="*">
                    <File Id="filBAE294F2D6D4FE326389CFE99519F4BD" KeyPath="yes" Source="$(var.AppProjectDir)\net5.0\IFix.dll" />
                </Component>
                <Component Id="cmpE821C615E17740E700B610918A323EE9" Guid="*">
                    <File Id="filBEC63BEB108AF1D45D42AFC59C15B910" KeyPath="yes" Source="$(var.AppProjectDir)\net5.0\IFix.dll.config" />
                </Component>
                <Component Id="cmp08634E649BFF50591E891FA13D1DF9BA" Guid="*">
                    <File Id="fil5AC581F4D20125E47EBCEEE681AA50C1" KeyPath="yes" Source="$(var.AppProjectDir)\net5.0\IFix.exe" />
                </Component>
                <Component Id="cmp6216287021FE22EA5F4DDFB8F4AE85DD" Guid="*">
                    <File Id="fil7A320CFD8FEDF21AC62ADF2BE121F138" KeyPath="yes" Source="$(var.AppProjectDir)\net5.0\IFix.pdb" />
                </Component>
                <Component Id="cmpBB8D56E51EFE30693B4836632B5440C2" Guid="*">
                    <File Id="fil0D2A3D04AD988E1D0D07A63DAA8579ED" KeyPath="yes" Source="$(var.AppProjectDir)\net5.0\IFix.runtimeconfig.dev.json" />
                </Component>
                <Component Id="cmp3414A57D16C027300A8A230EBDE0B16E" Guid="*">
                    <File Id="filA481504A11D60253ACB7E1816EEBDF62" KeyPath="yes" Source="$(var.AppProjectDir)\net5.0\IFix.runtimeconfig.json" />
                </Component>
                <Directory Id="dirC2F48517ECAD4AEB50D1D98BD85B91AE" Name="ref">
                    <Component Id="cmp930F820230A3E24A5F561FB4636914FF" Guid="*">
                        <File Id="fil813E76159060AA67CB86266017B3A185" KeyPath="yes" Source="$(var.AppProjectDir)\net5.0\ref\IFix.dll" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Wix.Generated_Project">
            <ComponentRef Id="cmp663F410B585D24992388443D6F899E37" />
            <ComponentRef Id="cmp65F6184094EEC13E20F3DE0FB51170BD" />
            <ComponentRef Id="cmp9C10E065CAA211E29C3F463220F708D7" />
            <ComponentRef Id="cmp9721F1F9E58B3B5A13113D4FFDDC760A" />
            <ComponentRef Id="cmp7CE71165D466A20880601377E14ED8A6" />
            <ComponentRef Id="cmp0B5CF81FFC431E8F8C8061D95CD90F32" />
            <ComponentRef Id="cmp7BFF5DAA600F735AB2202836F72F9E0B" />
            <ComponentRef Id="cmp030F85073E93BFAF11D81546A045C39C" />
            <ComponentRef Id="cmp988CB60A595C36FD3A964BAFF9789D11" />
            <ComponentRef Id="cmpA64D6F784AF6A708B7AEE7CDFAC5E59D" />
            <ComponentRef Id="cmp375D655093C56F7107D886DCA15E3E9C" />
            <ComponentRef Id="cmpA55D09A94064AD49E51E58EB45C6B4CC" />
            <ComponentRef Id="cmp2C072381B841A326B60B46C452CE1A34" />
            <ComponentRef Id="cmp759E3608DFC25556A42E885036A5F2F7" />
            <ComponentRef Id="cmpA546F46AF7683A093EF4E2D51F6B70FA" />
            <ComponentRef Id="cmp7D94AB709ACB69D24177275DD59D6FC7" />
            <ComponentRef Id="cmp82819C9C24ABA27C27F0F9054EB520D8" />
            <ComponentRef Id="cmpD98F54D3DC2A0AA18A7614E4F7D374BD" />
            <ComponentRef Id="cmpD5F3C5876885160CAD01EAA2026FE0E9" />
            <ComponentRef Id="cmpC34703C0966CC0479D1243B1FA19E9DD" />
            <ComponentRef Id="cmp47A92E4B389117E890EE5E8221D2DC47" />
            <ComponentRef Id="cmpE821C615E17740E700B610918A323EE9" />
            <ComponentRef Id="cmp08634E649BFF50591E891FA13D1DF9BA" />
            <ComponentRef Id="cmp6216287021FE22EA5F4DDFB8F4AE85DD" />
            <ComponentRef Id="cmpBB8D56E51EFE30693B4836632B5440C2" />
            <ComponentRef Id="cmp3414A57D16C027300A8A230EBDE0B16E" />
            <ComponentRef Id="cmp930F820230A3E24A5F561FB4636914FF" />
        </ComponentGroup>
    </Fragment>
</Wix>