<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmp7512A24D328968BFF1168CA83A9F0636" Guid="*">
                <File Id="filD453BC62A9354DCA3419398C1F7832C4" KeyPath="yes" Source="$(var.AppProjectDir)\.gitattributes" />
            </Component>
            <Component Id="cmp86E49024F3704AE42C64B56231946E6C" Guid="*">
                <File Id="fil7F34779767A8FCCCCF4BEF268A82802D" KeyPath="yes" Source="$(var.AppProjectDir)\.gitignore" />
            </Component>
            <Component Id="cmp739BBA41054DB3C3386B721B7916977B" Guid="*">
                <File Id="filEC607147668440060EA7BF793753D71B" KeyPath="yes" Source="$(var.AppProjectDir)\arne.sln" />
            </Component>
            <Component Id="cmpBC6E68F2B3C2FFD3A278C861E7C5D212" Guid="*">
                <File Id="fil1CFD4AA361DFBAD3AE200A293D63A49A" KeyPath="yes" Source="$(var.AppProjectDir)\arne10.sln" />
            </Component>
            <Component Id="cmpF8F82B5E73A44C7DC20CF5AE68651DD4" Guid="*">
                <File Id="fil7C3A1D8B0C014EA261C0CE227C0E3108" KeyPath="yes" Source="$(var.AppProjectDir)\arne11.sln" />
            </Component>
            <Component Id="cmp1B631C967DB4098ECDF03AB3800CEC94" Guid="*">
                <File Id="filDFA0430E062F8ACA40A67756EDE80457" KeyPath="yes" Source="$(var.AppProjectDir)\arne12.sln" />
            </Component>
            <Component Id="cmpA473D231D0359A3C84C58779806F8086" Guid="*">
                <File Id="filC3F2D1E76ADFA1F57865896AF376E508" KeyPath="yes" Source="$(var.AppProjectDir)\arne13.sln" />
            </Component>
            <Component Id="cmp1968B0C16107D39C65704F2CDC5B4F0E" Guid="*">
                <File Id="filE7305F37BF22FB9E2E674C0A423CB43E" KeyPath="yes" Source="$(var.AppProjectDir)\arne2.sln" />
            </Component>
            <Component Id="cmpFC36BA21DC90E62C231A1B054E1F6DD5" Guid="*">
                <File Id="fil769674D8C42E792A0B145B7F6F393998" KeyPath="yes" Source="$(var.AppProjectDir)\arne21.sln" />
            </Component>
            <Component Id="cmp89B38776B23EF26BCACF9329C7E6A116" Guid="*">
                <File Id="fil8D2D660C83D5ECBA50CA087AE6B0D1A6" KeyPath="yes" Source="$(var.AppProjectDir)\arne22.sln" />
            </Component>
            <Component Id="cmp2A60B56871F0608874F51C7342931E1D" Guid="*">
                <File Id="filFB0D01535A0CA73BA23835BC221DBBAA" KeyPath="yes" Source="$(var.AppProjectDir)\arne4.sln" />
            </Component>
            <Component Id="cmp735D88B5DF0CB55E8C8006EF4B6E0D3D" Guid="*">
                <File Id="fil76AAE8048FF73302C0B5E00CBAA63BDF" KeyPath="yes" Source="$(var.AppProjectDir)\arne5.sln" />
            </Component>
            <Component Id="cmp29B55D293D6EC7645AE9D04B85B77BC9" Guid="*">
                <File Id="filB83BE30CF3024DCB080817CF3EDA0287" KeyPath="yes" Source="$(var.AppProjectDir)\arne6.sln" />
            </Component>
            <Component Id="cmpBE0181AA7E2B978C487409241A166635" Guid="*">
                <File Id="filA2C149E3302D375BD302375FB66A39BA" KeyPath="yes" Source="$(var.AppProjectDir)\arne7.sln" />
            </Component>
            <Component Id="cmp77E4D8F93B42EDA6B49DFF89A74A9A11" Guid="*">
                <File Id="filEF46BE05BFAF4A14B7FCF5029BB9F80F" KeyPath="yes" Source="$(var.AppProjectDir)\arne8.sln" />
            </Component>
            <Component Id="cmpB24FE5095083AD7ACA89F95C29A5ACBF" Guid="*">
                <File Id="fil8DC9354C4D4306F0271822BCDE667011" KeyPath="yes" Source="$(var.AppProjectDir)\arne9.sln" />
            </Component>
            <Component Id="cmp08072DED40A2AE0F2F7264A3ECFD4107" Guid="*">
                <File Id="fil2D4373138064E87DA9D84948B330BDC1" KeyPath="yes" Source="$(var.AppProjectDir)\CommandLine.dll" />
            </Component>
            <Component Id="cmp5E3D3348D828484657D3F25D74F6957D" Guid="*">
                <File Id="fil45F83EAF62A9E97F8C317185F8AD4656" KeyPath="yes" Source="$(var.AppProjectDir)\CommandLine.xml" />
            </Component>
            <Component Id="cmpFC69740E08BD4D930092C9FFBE4EF99B" Guid="*">
                <File Id="filCD9DB25C1FF65EDC092C58E6FCEDD80D" KeyPath="yes" Source="$(var.AppProjectDir)\default.runsettings" />
            </Component>
            <Component Id="cmp9C10E065CAA211E29C3F463220F708D7" Guid="*">
                <File Id="filFE45DA496FF381061AD163DB4EA19DB5" KeyPath="yes" Source="$(var.AppProjectDir)\IFix.exe" />
            </Component>
            <Component Id="cmp9721F1F9E58B3B5A13113D4FFDDC760A" Guid="*">
                <File Id="fil3E76BCDD24ACB778409414C183979E5D" KeyPath="yes" Source="$(var.AppProjectDir)\IFix.exe.config" />
            </Component>
            <Component Id="cmp0B5CF81FFC431E8F8C8061D95CD90F32" Guid="*">
                <File Id="fil1919D012D9726452EC0172083991370E" KeyPath="yes" Source="$(var.AppProjectDir)\IFix.pdb" />
            </Component>
            <Component Id="cmpB2264C61EB06A2B7C056E1B0C6EC0746" Guid="*">
                <File Id="fil372BBABA30F3A671BA85CA8E88C921E5" KeyPath="yes" Source="$(var.AppProjectDir)\IFix.vshost.exe" />
            </Component>
            <Component Id="cmp294999D218C6A6FF32C3D2A3781417EA" Guid="*">
                <File Id="filB96B0D1614ACDA4CB34370437B4F691E" KeyPath="yes" Source="$(var.AppProjectDir)\IFix.vshost.exe.config" />
            </Component>
            <Component Id="cmpB8AD0F8170F3A441FCD08F0B36A1ACA3" Guid="*">
                <File Id="fil19FE8940DF53BB37F4970CD5DE51EB4F" KeyPath="yes" Source="$(var.AppProjectDir)\IFix.vshost.exe.manifest" />
            </Component>
            <Component Id="cmpAD9B223F4F4855E37C90BCB9A78AEE8E" Guid="*">
                <File Id="fil01DA9B885539B33CA87883D04A8157AF" KeyPath="yes" Source="$(var.AppProjectDir)\readme.md" />
            </Component>
            <Directory Id="dir9CF226AFB510FAFDC597F028AAFAEC3B" Name=".vs">
                <Directory Id="dir6C10AF5F349887A9273AE3B079449DB6" Name="arne10">
                    <Directory Id="dir7AD8A5F9F031B565136970F33F0356E4" Name="v14">
                        <Component Id="cmp7ACB3B8FF5FB7DF616E322C77DA1A23B" Guid="*">
                            <File Id="filDDD257F766ACA654C1F9C1888AA3F447" KeyPath="yes" Source="$(var.AppProjectDir)\.vs\arne10\v14\.suo" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir7E49E81E8CBBF94F8490EB50B87C3F06" Name="arne11">
                    <Directory Id="dir62A64CDD8E6ED3EFBFFFC73A32DAADAA" Name="v14">
                        <Component Id="cmpB31F0B86D7D996E0CE8BBE7E71E0DAE3" Guid="*">
                            <File Id="filE5A451F86C368BFF3F22E3EA1FB56A00" KeyPath="yes" Source="$(var.AppProjectDir)\.vs\arne11\v14\.suo" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir9B45F626C0F1E40B5753C81AF560853F" Name="arne12">
                    <Directory Id="dir807ED396900BA6DA4278347C3D4397D4" Name="v14">
                        <Component Id="cmpDA59EA4B4D4270A41D6102B39D37168F" Guid="*">
                            <File Id="filF7BA27D207F9BF0DCAFCDEE5DFB491A1" KeyPath="yes" Source="$(var.AppProjectDir)\.vs\arne12\v14\.suo" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir28244C8F17FAC781FC1DE50509F91305" Name="arne13">
                    <Directory Id="dir974A50B04B0482E57380D834CB3D5DAE" Name="v14">
                        <Component Id="cmpAA69D2D5C2AD1E95C32846E6523FE86D" Guid="*">
                            <File Id="filC801B30315BF73567BB138CBD8C7C077" KeyPath="yes" Source="$(var.AppProjectDir)\.vs\arne13\v14\.suo" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir6FE13BC1A10CE970683128F2746B9D17" Name="arne5">
                    <Directory Id="dir0A680A5AF4B856ECFD822427F0646FFA" Name="v14">
                        <Component Id="cmpAFB51E11F818B4763E27451E4E103C2C" Guid="*">
                            <File Id="fil4E40F50E2F2A8DD8A45032C2B8B7AEC2" KeyPath="yes" Source="$(var.AppProjectDir)\.vs\arne5\v14\.suo" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirFA15522BDADD5ECE5BE0F8E54A6DCEC4" Name="arne6">
                    <Directory Id="dir931BE4BE9C9C3A31B889FF66F4AE5E57" Name="v14">
                        <Component Id="cmp47058B2C2701AA765DF44FBD7E4AF839" Guid="*">
                            <File Id="fil30AE6D830A29E16B474FA0EBFE185E34" KeyPath="yes" Source="$(var.AppProjectDir)\.vs\arne6\v14\.suo" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir647B87F4DB478D37D600BE5A57C81CF5" Name="arne7">
                    <Directory Id="dir66C7138C9AF3B47A36CF8ED6C1D6DB09" Name="v14">
                        <Component Id="cmp28ACACDB4CDDED33AA338B36BB172B0A" Guid="*">
                            <File Id="fil95E8C7097FDCED7181BC908A3E0DA217" KeyPath="yes" Source="$(var.AppProjectDir)\.vs\arne7\v14\.suo" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirA63197616AFECCCA5071898D4F5E7149" Name="arne8">
                    <Directory Id="dirD4992B909100D437A58F75C1E6285CA0" Name="v14">
                        <Component Id="cmp0649FC26DB851FC3E82601492B75D15F" Guid="*">
                            <File Id="fil2A2042FC9738E8C7D33D1220FD787ACC" KeyPath="yes" Source="$(var.AppProjectDir)\.vs\arne8\v14\.suo" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir7400BA5D2C8585AEA312275298235B88" Name="arne9">
                    <Directory Id="dir5BB217EA0DA658F4D64D030ADEAA3EF1" Name="v14">
                        <Component Id="cmpCAD9F6199D452C650321D21B268EBEAE" Guid="*">
                            <File Id="filB4E9587D009E265FE19FEED61F86226C" KeyPath="yes" Source="$(var.AppProjectDir)\.vs\arne9\v14\.suo" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir721BD017E015D9D2CCA3B02C59A8BCCB" Name="config">
                    <Component Id="cmp0C9D96C82362ED72FAEFE7342CB3C566" Guid="*">
                        <File Id="fil788FD66301C6A79AD763A0F01D5D18CC" KeyPath="yes" Source="$(var.AppProjectDir)\.vs\config\applicationhost.config" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Wix.Generated_Project">
            <ComponentRef Id="cmp7512A24D328968BFF1168CA83A9F0636" />
            <ComponentRef Id="cmp86E49024F3704AE42C64B56231946E6C" />
            <ComponentRef Id="cmp739BBA41054DB3C3386B721B7916977B" />
            <ComponentRef Id="cmpBC6E68F2B3C2FFD3A278C861E7C5D212" />
            <ComponentRef Id="cmpF8F82B5E73A44C7DC20CF5AE68651DD4" />
            <ComponentRef Id="cmp1B631C967DB4098ECDF03AB3800CEC94" />
            <ComponentRef Id="cmpA473D231D0359A3C84C58779806F8086" />
            <ComponentRef Id="cmp1968B0C16107D39C65704F2CDC5B4F0E" />
            <ComponentRef Id="cmpFC36BA21DC90E62C231A1B054E1F6DD5" />
            <ComponentRef Id="cmp89B38776B23EF26BCACF9329C7E6A116" />
            <ComponentRef Id="cmp2A60B56871F0608874F51C7342931E1D" />
            <ComponentRef Id="cmp735D88B5DF0CB55E8C8006EF4B6E0D3D" />
            <ComponentRef Id="cmp29B55D293D6EC7645AE9D04B85B77BC9" />
            <ComponentRef Id="cmpBE0181AA7E2B978C487409241A166635" />
            <ComponentRef Id="cmp77E4D8F93B42EDA6B49DFF89A74A9A11" />
            <ComponentRef Id="cmpB24FE5095083AD7ACA89F95C29A5ACBF" />
            <ComponentRef Id="cmp08072DED40A2AE0F2F7264A3ECFD4107" />
            <ComponentRef Id="cmp5E3D3348D828484657D3F25D74F6957D" />
            <ComponentRef Id="cmpFC69740E08BD4D930092C9FFBE4EF99B" />
            <ComponentRef Id="cmp9C10E065CAA211E29C3F463220F708D7" />
            <ComponentRef Id="cmp9721F1F9E58B3B5A13113D4FFDDC760A" />
            <ComponentRef Id="cmp0B5CF81FFC431E8F8C8061D95CD90F32" />
            <ComponentRef Id="cmpB2264C61EB06A2B7C056E1B0C6EC0746" />
            <ComponentRef Id="cmp294999D218C6A6FF32C3D2A3781417EA" />
            <ComponentRef Id="cmpB8AD0F8170F3A441FCD08F0B36A1ACA3" />
            <ComponentRef Id="cmpAD9B223F4F4855E37C90BCB9A78AEE8E" />
            <ComponentRef Id="cmp7ACB3B8FF5FB7DF616E322C77DA1A23B" />
            <ComponentRef Id="cmpB31F0B86D7D996E0CE8BBE7E71E0DAE3" />
            <ComponentRef Id="cmpDA59EA4B4D4270A41D6102B39D37168F" />
            <ComponentRef Id="cmpAA69D2D5C2AD1E95C32846E6523FE86D" />
            <ComponentRef Id="cmpAFB51E11F818B4763E27451E4E103C2C" />
            <ComponentRef Id="cmp47058B2C2701AA765DF44FBD7E4AF839" />
            <ComponentRef Id="cmp28ACACDB4CDDED33AA338B36BB172B0A" />
            <ComponentRef Id="cmp0649FC26DB851FC3E82601492B75D15F" />
            <ComponentRef Id="cmpCAD9F6199D452C650321D21B268EBEAE" />
            <ComponentRef Id="cmp0C9D96C82362ED72FAEFE7342CB3C566" />
        </ComponentGroup>
    </Fragment>
</Wix>