<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmp08072DED40A2AE0F2F7264A3ECFD4107" Guid="*">
                <File Id="fil2D4373138064E87DA9D84948B330BDC1" KeyPath="yes" Source="$(var.AppProjectDir)\CommandLine.dll" />
            </Component>
            <Component Id="cmp5E3D3348D828484657D3F25D74F6957D" Guid="*">
                <File Id="fil45F83EAF62A9E97F8C317185F8AD4656" KeyPath="yes" Source="$(var.AppProjectDir)\CommandLine.xml" />
            </Component>
            <Component Id="cmp5AC3245B893E12B66F26E543E68A5AB5" Guid="*">
                <File Id="filA709A0BEC8695C36092E2F17B5EBEE30" KeyPath="yes" Source="$(var.AppProjectDir)\RemoveOldNugetRestore.exe" />
            </Component>
            <Component Id="cmp91128CC3741BC7E93BE977481D145A4F" Guid="*">
                <File Id="fil0AED30B2734B9C4819987DB9EC11AD01" KeyPath="yes" Source="$(var.AppProjectDir)\RemoveOldNugetRestore.exe.config" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Wix.Generated_Project">
            <ComponentRef Id="cmp08072DED40A2AE0F2F7264A3ECFD4107" />
            <ComponentRef Id="cmp5E3D3348D828484657D3F25D74F6957D" />
            <ComponentRef Id="cmp5AC3245B893E12B66F26E543E68A5AB5" />
            <ComponentRef Id="cmp91128CC3741BC7E93BE977481D145A4F" />
        </ComponentGroup>
    </Fragment>
</Wix>